<% @houses.each do |house| %>
  <div class="house-wrapper">
    <a href = "/houses/<%= house.id %>">
    <div class="house" style="background: url('<%= house.img_url %>'); background-size: 100%;
    background-repeat: no-repeat; background-position: center center;">
      <p> <%= "#{house.name}" %> </p>
    </div>
    </a>
  </div>
<% end %>


<%= link_to "add your house", new_house_path, class: "new-house" %>
<!-- 
<footer>testing something</footer> -->
